@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

/*--------------------------------------- Style defaults (overiding Bootstrap defaults) */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

/*--------------------------------------- Colours and backgrounds */

.bg-navbar {
    background-color: #f5b700;
}

.bg-hero {
    background-image: url(https://michaelpearce21.github.io/CI_MS1_DAL/assets/images/hero-image.jpeg);
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    height: 100%;
}

/* Photo by GR Stocks on Unsplash */
.background-404 {
    background-image: url(https://michaelpearce21.github.io/CI_MS1_DAL/assets/images/chess-404.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*--------------------------------------- Header / navbar element */

.header-logo {
    height: 70px;
    width: 70px;
}

.navbar-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
}

.navbar-text-position {
    display: flex;
}

/*--------------------------------------- Footer element*/

.container-footer {
    background-color: #f5b700;
    margin-top: 10px;
}

.address {
    text-align: left;
    font-size: small;
    justify-content: start;
    padding-top: 15px;
}

.socials {
    text-align: center;
    padding-top: 20px;
}

.socials i {
    font-size: xx-large;
    letter-spacing: 2rem;
    color: black; 
}

.copyright {
    text-align: right;
    font-size: small;
    padding-top: 15px;
}

/*--------------------------------------- Home page styling */

.call-out-offer {
    background-color: #008bf8;
    text-align: center;
    color: black;
    padding-top: 12px;
    height: 60px;
    font-weight: 500;
}

.sign-up-button {
    margin-left: 10px;
}

.hero-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

.hero-card {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
}

.card-design {
    border-radius: 50%;
    background-color: #f5b700;
}

.container-hero {
    min-height: 300px;
}

.container-about {
    text-align: center;
    border: 1px solid black;
    background-color: #dc0073;
    border-radius: 20px;
    margin-top: 10px;
    color: white;
}

.container-howitworks {
    border: 1px solid black;
    background-color: #89fc00;
    border-radius: 20px;
    margin-top: 10px;
}

.container-howitworks-picture {
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;
    max-height: 600px;
}

.opening-times {
    margin-left: 37%;
    margin-top: 20px;
}

.map-text {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #008bf8;
    margin-top: 10px;
    color: whitesmoke;
}

.times-text {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f5b700;
    margin-top: 10px;
}

.maps-frame {
    height: 100%;
    width: 100%;
    border:1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    height: 350px;
    margin: auto;
}

/*--------------------------------------- Contact page styling */

/* Image: Photo by Dave Photoz on Unsplash */  
.container-contact {
    background-image: url(https://michaelpearce21.github.io/CI_MS1_DAL/assets/images/ticket-to-ride.jpeg);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container-contact-text {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #dc0073;
    text-align: center;
    color: white;
}

.container-contact-text i {
    font-size: xx-large;
    letter-spacing: 2rem;
    color: #f5b700; 
    text-align: center;
}

.container-contact-text a {
    color: white;
}

.container-form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #89fc00;
}

/* below modifies footer styling to remove gap before picture */
#footer-contact {
    margin-top: 0px;
}

/*--------------------------------------- Menu page styling */

.container-menu-intro {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px; 
    text-align: center;
    background-color: #dc0073;
    color: white;
}

.container-food-pictures img {
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid #008bf8;
}

.continer-pdf-menu {
    width: 100%;
    height: 700px;
}

.container-menu {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #008bf8;
}

.menu-box {
    width: 100%;
    height: 500px;
}

.menu-text {
    text-align: center;
    line-height: 20px;
    color: whitesmoke;
}

.download-comment {
    margin-top: 20px;
}

.download-link {
    color: black;
}

/*--------------------------------------- Club page styling */

.container-club-intro {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px; 
    text-align: center;
    background-color: #89fc00;
}

.savings-card {
    background-color: #f5b700;
}

.club-pictures {
    border-radius: 20px;
    margin: 10px;
}

.youtube-frame {
    height: 100%;
    width: 100%;
    border:1px solid black;
    border-radius: 20px;
}

.container-game-recommendation {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #008bf8;
    color: black;
}

 /* code from: https://stackoverflow.com/questions/38695846/change-height-of-bootstrap-carousel-keeping-it-responsive/38696655 */
.carousel img {
    max-height: 500px;
    max-width: 500px;
    margin: 0 auto;
}

/*--------------------------------------- 404 page styling */

.container-404 {
    min-height: 75vh; 
}

#text-404 {
    justify-content: center;
    font-size: large;
    color: whitesmoke;
    margin-top: 20px;
}