@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------- Colours */

.bg-navbar {
    background-color: #f5b700;
}


/*--------------------------------------- Header / navbar element */

.header-logo {
    height: 70px;
    width: 70px;
}

.navbar-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
}

.btn-header {
    align-items: right
}